numpy
pandas
scipy
matplotlib
tqdm
rdkit-pypi         # RDKit via PyPI
networkx
requests
packaging
pytest
fuzzywuzzy
jax==0.4.25
jaxlib==0.4.25+cuda12.cudnn89  # GPU build
torch==2.0.1
gpytorch
guacamol
PyTDC
